<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>王梦菲-作品库</title>
	<link rel="stylesheet" href="../templates/css/public.css">
	<link rel="stylesheet" href="../templates/css/works.css">
</head>
<body>
	<div class="nav">
		<div class="w1190">
			<ul>	
				<li><a href="./index.html">首页</a></li>
				<li><a href="./about.html">关于我</a></li>
				<li class="active"><a href="/">作品库</a></li>
				<li><a href="">待定</a></li>
			</ul>
		</div>
	</div>
	<div class="content">
		<ul>
			<li>
				<h1><a href="">文章标题文章标题文章标题</a></h1>
				<p class="author">王梦菲</p>
				<div class="img-text">
					<div class="fl"><img src="../templates/img/bg/bg_1.jpg" alt=""></div>
					<div class="fl"><p>简介简介简介</p></div>
				</div>
				<div class="date"><span>2016</span><span>06-27</span></div>
			</li>
			<li>
				<h1><a href="">文章标题文章标题文章标题</a></h1>
				<p class="author">王梦菲</p>
				<div class="img-text">
					<div class="fl"><img src="../templates/img/bg/bg_2.jpg" alt=""></div>
					<div class="fl"><p>简介简介简介</p></div>
				</div>
				<div class="date"><span>2016</span><span>06-27</span></div>
			</li>
		</ul>
	</div>
</body>
</html>